.align{
    margin-left: 200px;
    margin-top: 150px;
}
.container-fluid{
    background-color: #5cb85c;
    /*padding: 40px;*/
}
.ycms{
    color: white;
}
.jumbotron{
    color: white;
}
footer{
    position: absolute;
    top: 10px;
}