.jumbotron{
	margin-bottom: 0px;
	/*background: black;*/
	background: #5cb85c;
	color: white;
	height: 80px;
}
.user_input{
	margin: 300px;
	margin-top: 70px;
	margin-bottom: 175px;
}
.nav_radius{
	border-radius: 0px;
}
.btn-success{
	width: 120px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.foot{
	background: #5cb85c;
	color: white;
	/*padding-top: 10px;
	height: 50px;*/
}
.navig{
	/*color: white;*/
	background: black;
}
.container-fluid{
	color: black;
	background: #5cb85c;
}
.space{
	padding-right: 40px;
}
.header{
	text-align: center;
}
.content{
	padding: 20px;
	margin-left: 100px;
	}
/*button{
	margin: 140px;
	margin-bottom: 20px;
}*/
opt_margin{
	margin-left: 10px;
}
.nav_color{
	color: white;
}
.active{
	background: white;
	color: #5cb85c;	
}
.a_color{
	color: white;
}
.navbar-inverse{
	border-color:  #5cb85c;
	border-radius: 0px;
}