<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  
  <title>Doctor Add Result</title>
  
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/starter-template.css}" rel="stylesheet">
  <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/home}" style="color: white;">Ye-Lemma CMS</a>
      </div>
      <ul class="nav nav-tabs navbar-nav nav_radius">
        <li><a th:href="@{/schedule}" style="color:white;">Home</a></li>
        <li><a th:href="@{/viewLabResults}" style="color:white;">Results</a></li>
        <li><a th:href="@{/addRecord}" class="active">Add Record</a></li>
         <li> <a th:href="@{/viewRecord}" style="color:white;">View Record</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" style="color: white"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
  	<div class="col-lg-4"></div>
  	<div class="col-lg-3 registrationText" style="font-size: 25px;">Add Patient Record</div>
  </div>
  
  <div class="row">
  	<div class="col-lg-2"></div>
  	<div class="col-lg-9">
  	
  	
  	
  	<form role="form" th:object="${record}" th:action="@{/addRecord}" th:method="POST">
      <div class="form-group">
  		<div class="row">
  		  <div class="col-lg-2">
  		    <label for="email">Patient ID:</label>
  		  </div>
  		  <div class="col-lg-5">


  		    <input type="text" class="form-control" id="fname" name="patientid"  th:field="*{patientId}" >
  		  </div>

  		</div>
  		</div>

  		<div class="form-group">
  		<div class="row">
  		  <div class="col-lg-2">
  		    <label for="email">Data:</label>
  		  </div>
  		  <div class="col-lg-5">

          <textarea name="data"  th:field="*{data}" rows="8" cols="80" class="form-control" style="resize:none;"></textarea>


  		  </div>

  		</div>

  		</div>

  	<button type="submit" class="btn btn-primary btn-success login_btn" name="submit" th:text="Post">Post</button>
  </form>
  	</div>
  </div>
  </div>

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav foot">
          <li class="nav_color"><a th:href="@{home}" style="color: white;">About Us</a></li>
          <li class="nav_color"><a th:href="@{home}" style="color: white;">Contact Us</a></li>
          <li class="nav_color"><a th:href="@{home}" style="color: white;">FAQ</a></li>
        </ul>
      </div>
    </nav>

</body>
</html>
