<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post Result</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">


    <style type="text/css">
    	form{
    		padding: 20px;
    	}
    	body{
    		margin: 0px;
    	}
    </style>
  </head>
  <body>

<!--<div class="jumbotron">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-2">
			<p>Ye-Lemma CMS</p>
		</div>
	</div>
</div>-->

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="lab_home.php" style="color: white;">Ye-Lemma CMS</a>
      </div>
      <ul class="nav nav-tabs navbar-nav nav_radius">
        <li><a th:href="@{/viewLab}" class="active">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" style="color: white"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-3 registrationText" style="font-size: 25px;">Patient Results</div>
</div>
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-9">
	<form role="form" method="POST" th:object="${labResult}" th:action="@{/addResult}">
	<h3 class="text-success" style="Margin:20px;"><span th:utext="${successMessage}"></span></h3>
	<h3 class="text-danger" style="Margin:20px;"><span th:utext="${errorMessage}"></span></h3>
    <!-- <div class="form-group">
		<div class="row">
		  <div class="col-lg-2">
		    <label for="resultID">Result ID:</label>
		  </div>
		  <div class="col-lg-5">


		    <input readonly type="text" class="form-control" id="fname" name="resultID" th:field="result" value="" >
		  </div>

		</div>
		</div> -->
		<div class="form-group">
		<div class="row">
		  <div class="col-lg-2">
		    <label for="patientID">Patient ID:</label>
		  </div>
		  <div class="col-lg-5">


		    <input type="text" class="form-control" id="fname"  name="patientID" th:value="*{patientID}">
		  </div>
		  

		</div>
		</div>

		<div class="form-group">
		<div class="row">
		  <div class="col-lg-2">
		    <label for="doctorID">Doctor ID:</label>
		  </div>
		  <div class="col-lg-5">
		    <input readonly type="text" class="form-control" id="mname" name="doctorID" th:value="*{doctorID}" required  >
		  </div>

		</div>
		</div>

		<div class="form-group">
		<div class="row">
		  <div class="col-lg-2">
		    <label for="data">Diagnosis:</label>
		  </div>
		  <div class="col-lg-5">

        <textarea name="data" rows="8" cols="80" class="form-control" style="resize:none;"></textarea>


		  </div>
		  
      <div class="col-lg-2">
        <span style="color:green;"></span>
        <span style="color:red;"></span>

      </div>

		</div>

		</div>

	<button type="submit" class="btn btn-primary btn-success login_btn" name="submit">Post</button>
</form>
	</div>
</div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
      </div>
      <ul class="nav navbar-nav foot">
        <li class="nav_color"><a href="#" style="color: white;">About Us</a></li>
        <li class="nav_color"><a href="account.php" style="color: white;">Contact Us</a></li>
        <li class="nav_color"><a href="#" style="color: white;">FAQ</a></li>
      </ul>
    </div>
  </nav>

  </body>
</html>
