<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Approve Schedule</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  
  <body>

<nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="receptionHome.php" style="color: white;">Ye-Lemma CMS</a>
      </div>
      <ul class="nav nav-tabs navbar-nav nav_radius">
        <li><a th:href="@{/approve}" class="active">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" style="color: white"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
  <h2 style="margin: 10px;">Today's Schedule</h2>
  <form method="POST" th:object = "${appointment}" th:action="@{/approve}">   
		<table class="table table-bordered table-striped table-hover" >

			  <tr>
			  	<th></th>
			    <th>Patient</th>
			    <th>Doctor</th>
			  
			    <th>Time</th>
			  </tr>
			  
			  <tr th:each="appointments: ${appointment}" id = "sth">

			  	<td><input name="appointmentId" type="checkbox" th:value="${appointments.appointmentId}" /></td>


			    <td><span th:text="${appointments.patientId}" th:value="${appointments.patientId}" >Patient</span></td>
			    <td><span th:text="${appointments.doctorId}">Patient</span></td>

			    <td><span th:text="${appointments.appointmentTime}">Patient</span></td>
			   	
			  </tr>
			  
</table>
		<button >Submit</button>
	</form>

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
      </div>
      <ul class="nav navbar-nav foot">
        <li class="nav_color"><a href="about_us.html" style="color: white;">About Us</a></li>
        <li class="nav_color"><a href="contact_us.html" style="color: white;">Contact Us</a></li>
        <li class="nav_color"><a href="#" style="color: white;">FAQ</a></li>
      </ul>
    </div>
  </nav>

</body>
</html>