<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.8.10, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Website Maker Description">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/assets/tether/tether.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
  <link rel="stylesheet" th:href="@{/assets/theme/css/style.css}">
  <link rel="stylesheet" th:href="@{/assets/mobirise/css/mbr-additional.css}" type="text/css">
  
  
  
</head>
<body>
  <section class="mbr-section content8 cid-reLO3GW4MH" id="content8-7">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary-outline display-4" th:href="@{login}">LOGIN</a>
                    <a class="btn btn-primary-outline display-4" th:href="@{signup}">SIGN UP</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features2 cid-rePOYQrd0J" id="features2-r">

      <h1 align="center">WELCOME TO YE-LEMMA CMS</h1>

    
    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/mbr-2-676x451.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">As a patient</h4>
                        <p class="mbr-text mbr-fonts-style display-7">This is your personal platform to perfect your experience with our clinic! Here you will be able to: 
<br>
<br>Manage all your appointments with the clinic 
<br>View your history with our clinic 
<br>View the results of your examinations</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/mbr-1-676x451.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box ">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">As a Doctor</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Examine and manage the records of the patients you treat, view and manage your schedule for the day, as well as order and receive results of lab tests on patients</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/mbr-676x451.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Lab Technicians and Receptionists</h4>
                        <p class="mbr-text mbr-fonts-style display-7">On this system, Laboratory technicians can view their orders for tests and send their results to the doctor once they are completed. Receptionists can view the appointment requests made by patients, confirm them and send them to the doctor.</p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>


  <script th:href="@{/assets/web/assets/jquery/jquery.min.js}"></script>
  <script th:href="@{/assets/popper/popper.min.js}"></script>
  <script th:href="@{/assets/tether/tether.min.js}"></script>
  <script th:href="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
  <script th:href="@{/assets/smoothscroll/smooth-scroll.js}"></script>
  <script th:href="@{/assets/theme/js/script.js}"></script>

</body>
</html>