<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Patient History Page</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/starter-template.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="docHome.php" style="color: white;">Ye-Lemma CMS</a>
        </div>
        <ul class="nav nav-tabs navbar-nav nav_radius">
          <li><a th:href="@{/schedule}" style="color:white;" >Home</a></li>
        <li><a th:href="@{/viewLabResults}" style="color:white;" >Results</a></li>
        <li><a th:href="@{/addRecord}" style="color:white;">Add Record</a></li>
        <li> <a th:href="@{/viewRecord}" class="active">View Record</a></li>
        </ul>
      </div>
    </nav>



<table th:object="${record}" class = "table table-bordered table-striped table-hover">
		<tr>
			<th>Patient Id</th>
			<th>Doctor Id</th>
			<th>Data</th>
			<th>Record Date</th>
		<tr>
		<tr th:each="records: ${record}">
			<td><p th:text="${records.patientId}">1</p></td>
			<td><p th:text="${records.doctorId}"></p></td>
			<td><p th:text="${records.data}"></p></td>
			<td><p th:text="${records.entryDate}"></td>
		</tr>
	</table>

      <nav class="navbar navbar-inverse navbar-fixed-bottom">
          <div class="container-fluid">
            <div class="navbar-header">
              <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
            </div>
            <ul class="nav navbar-nav foot">
              <li class="nav_color"><a href="about_us.html" style="color: white;">About Us</a></li>
              <li class="nav_color"><a href="contact_us.html" style="color: white;">Contact Us</a></li>
              <li class="nav_color"><a href="#" style="color: white;">FAQ</a></li>
            </ul>
          </div>
        </nav>

  </body>
</html>
