<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Doctor Results</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <style type="text/css">
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="docHome.php" style="color: white;">Ye-Lemma CMS</a>
      </div>
      <ul class="nav nav-tabs navbar-nav nav_radius">
        <li><a th:href="@{/schedule}" style="color:white;" >Home</a></li>
        <li><a th:href="@{/viewLabResults}" class="active" >Results</a></li>
        <li><a th:href="@{/addRecord}" style="color:white;">Add Record</a></li>
        <li> <a th:href="@{/viewRecord}" style="color:white;">View Record</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" style="color: white"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
  <h2>Lab Results</h2>
  
  <table class="table table-bordered table-striped table-hover " th:object="${labResult}">
    <thead>
      <tr>
        <th>ID</th>
        <th>Patient ID</th>
        <th>Doctor ID</th>
        <th>Data</th>
        <th>Seen</th>

      </tr>
    </thead>
    <tbody>
        <form role="form" method="POST" th:object="${LabResult}" th:action="@{/viewLabResults}">
        <tr th:each="labResults: ${labResult}">
          <td><span th:text="${labResults.resultId}">1</span></td>
          <td><span th:text="${labResults.patientID}">1</span></td>
          <td><span th:text="${labResults.doctorID}">1</span></td>
          <td><span th:text="${labResults.data}">data</span></td>
          <td>
            <button class="btn btn-success" name = "seen">
          Seen</button>

        </td>

        </tr>
        </form>
      <?php
        }
        ?>
    </tbody>
  </table>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
      </div>
      <ul class="nav navbar-nav foot">
        <li class="nav_color"><a href="about_us.html" style="color: white;">About Us</a></li>
        <li class="nav_color"><a href="contact_us.html" style="color: white;">Contact Us</a></li>
        <li class="nav_color"><a href="#" style="color: white;">FAQ</a></li>
      </ul>
    </div>
  </nav>

</body>
</html>
