<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Approve Schedule</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  </head>
  
  <body>
    <h1>Approve</h1>
    <form method="POST" th:object = "${appointment}">   
		<table  >
			  <tr>
			  	<th></th>
			    <th>Patient</th>
			    <th>Doctor</th>
			    <th>Date</th>
			    <th>Time</th>
			  </tr>
			  <tr th:each="appointments: ${appointment}" id = "sth">
			  	<td><input name="appointmentId" type="checkbox" th:value="${appointments.appointmentId}" /><td>
			  	
			  	
			    <td><span th:text="${appointments.patientId}" th:value="${appointments.patientId}" >Patient</span></td>
			    <td><span th:text="${appointments.doctorId}">Patient</span></td>
			    <td><span th:text="${appointments.appointmentDate}">Patient</span></td>
			    <td><span th:text="${appointments.appointmentTime}">Patient</span></td>
			   	
			  </tr>
		</table>
		<button >Submit</button>
	</form>
	
	
      
  </body>
</html>