<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Approve Schedule</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <style type="text/css">
     form{
       padding: 20px;
     }
    </style>
  </head>
  
  <body>
<div class="jumbotron">
 <div class="row">
   <div class="col-lg-1"></div>
   <div class="col-lg-2">
     <p>Ye-Lemma CMS</p>
   </div>
 </div>
</div>

    <div class="user_input">
    <h3 class="login">Login</h3>
    <form role="form" th:action="@{/login}" th:method="POST">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-2">
            <label for="username">User ID:</label>
          </div>
          <div class="col-lg-5">

            <input type="text" class="form-control" name = "username" id="username" >
          </div>


        </div>
      </div>

      <div class="form-group">
      <div class="row">
          <div class="col-lg-2">
            <label for="password">Password:</label>
          </div>
          <div class="col-lg-5">

            <input type="password" class="form-control" name="password" id="password" >
          </div>


        </div>
        </div>

        


  <div class="text-danger" align="center" th:if="${param.error}">
    <p>Username or Password invalid, please verify</p>
  </div>

  <button type="submit" class="btn btn-success login_btn" value="Login" th:text="Login" name="submit">L</button>
</form>

    </div>


    <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
      </div>
      <ul class="nav navbar-nav foot">
        <li class="nav_color"><a href="about_us.html" style="color: white;">About Us</a></li>
        <li class="nav_color"><a href="contact_us.html" style="color: white;">Contact Us</a></li>
        <li class="nav_color"><a href="#" style="color: white;">FAQ</a></li>
      </ul>
    </div>
  </nav>
  </body>
</html>