<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Daily Schedule</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="docHome.php" style="color: white;">Ye-Lemma CMS</a>
      </div>
      <ul class="nav nav-tabs navbar-nav nav_radius">
        <li><a href="docHome.php" class="active">Home</a></li>
        <li><a href="docResult.php" style="color:white;">Results</a></li>
        <li><a href="doctorRecord.php" style="color:white;">Search</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="logout.php" style="color: white"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
  <h2>Today's Schedule</h2>
  <form method="POST" th:object="${appointment}">
  <table class="table table-bordered table-striped table-hover ">
    <thead>
      <tr>
        <th></th>     
        
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Appointment Time</th>
        

      </tr>
    </thead>
    <tbody>
    	<tr th:each="appointments:${appointmentMap}">
    	<td><input name="appointmentId" type="checkbox" th:value="${appointments.key.appointmentId}" /></td>
    	<td><span th:text="${appointments.value.firstName}"></span></td>
    	<td><span th:text="${appointments.value.lastName}"></span></td>
    	<td><span th:text="${appointments.value.age}"></span></td>
    	<td><span th:text="${appointments.key.appointmentTime}"></span></td>
    	
    	</tr>
    	
    </tbody>
  </table>
  
  <button>Submit</button>
  
  </form>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
      </div>
      <ul class="nav navbar-nav foot">
        <li class="nav_color"><a href="about_us.html" style="color: white;">About Us</a></li>
        <li class="nav_color"><a href="contact_us.html" style="color: white;">Contact Us</a></li>
        <li class="nav_color"><a href="#" style="color: white;">FAQ</a></li>
      </ul>
    </div>
  </nav>

</body>
</html>